.chatbot-chat-input-container {
  width: 100%;
  display: flex;
}

.chatbot-chat-input-container input {
  font-family: "Englebert";
  letter-spacing: 2px;
  width: 100%;
  border: 1px solid #e7f8fe;
  color: black;
  background: #beedfd;
  height: 35px;
  padding: 0px 20px;
  box-sizing: border-box;
  border-radius: 25px;
  outline: none; /* TODO: buscar que hace outline */
  margin-right: 5px;
}

.chatbot-chat-input-container input::placeholder {
  color: black;
  font-size: 14px;
}

.chatbot-chat-input-container button {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  background-image: url(../../../assets/imagenes/send.svg);
  background-size: 16px;
  background-repeat: no-repeat;
  background-position: center;
  transition: all 0.5s ease-out;
}

.btn-send-disabled {
  border: 1px solid #d1fccd;
  background: #d1fccd;
}

.btn-send-enabled {
  border: 1px solid #309228;
  background: #309228;
  box-shadow: 2px 2px 15px 0 rgba(0, 0, 0, 0.16);
}
